<div class = "mainForm">
    <h1>About</h1>    
    Author: Michael Gulson
    <br>
    Date: 8/1/2021
    <p>
        Trading Card Inventory allows the user to add, delete, and update trading cards.  The total estimated value is calculated and displayed in the top right corner.
    <br>
        Trading Card Inventory uses Angular CLI and Ngrx framework including reducers to keep track of state.  
    <br>
        It includes an API call to get an image for sports players.  Try entering a famous sports player like Lebron James!
    </p>
</div>